<html ng-app="BandBrowser" ng-controller="BandController">
    <head>
        <title>Band Browser</title>
        <meta charset="utf-8" />
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="css/main.css?1">
    </head>
    <body ng-cloak>
        <div class="header text-center">
            <div class="logo-container">
                <img class="logo" src="/img/logo.png">
            </div>
        </div>
        <div class="content">
            <div class="container text-center" ng-class="{results: artistList}">
                <input type="search" name="band-search" ng-model="search" ng-model-options="{ debounce: 500 }" placeholder="Enter a country...">
                <div class="result-container" ng-if="artistList && !artist">
                    <span>TOP ARTISTS</span>
                    <div class="row">
                        <div class="col-xs-4 artist-container" ng-repeat="artist in artistList">
                            <div class="image-container">
                                <img src="{{artist.image[2]['#text']}}" alt="{{artist.name}}" ng-click="setArtist($index)"/>
                            </div>
                            <h2>{{artist.name}}</h2>
                        </div>
                    </div>
                    <div class="row pagination">
                        <div class="previous col-xs-6" ng-if="page > 1">
                            <button class="btn" ng-click="previous()">previous</button>
                        </div>
                        <div class="next col-xs-6">
                            <button class="btn" ng-click="next()">next</button>
                        </div>
                    </div>
                </div>
                <div class="artist-container" ng-if="artist">
                    <div class="image-container">
                        <img src="{{artist.image[2]['#text']}}" alt="{{artist.name}}" ng-click="setArtist($index)"/>
                    </div>
                            <h2>{{artist.name}}</h2>
                            <span>TOP 5 Tracks</span>
                    <div class="top-tracks">
                        <h3 ng-repeat="track in artist.tracks">{{track.name}}</h3>
                    </div>
                    <button class="btn" ng-click="resetArtist()">back</button>
                </div>
            </div>
        </div>
        <script src="/js/app.js?1"></script>
    </body>
</html>
