body {
    background-color: #21b473;
    font-family: 'verdana';
}

h2, span {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

h3 {
    font-size: 20px;
    margin-top: 10px;
}

.top-tracks{
    margin: 40px 0;
}

.logo-container {
    padding-bottom: 5px;
    width: 700px;
    margin: 30px;
    background-color: #ffffff;
    display: inline-block;
    border-radius: 10px;
}

.image-container {
    width: 174px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    overflow: hidden;

}

input[type="search"] {
    width: 350px;
    border-radius: 10px;
    text-align: center;
    height: 50px;
    font-size: 35px;
}

.artist-container {
    margin-top: 50px;
}

.container {
    background-color: #ffffff;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 10px;
}

.result-container img {
    cursor: pointer;
}

.result-container span {
    margin-top: 30px;
    display: inline-block;
}
